extends layout.pug
include mixins/hero
include mixins/buttons

block content
  +hero('🔓⚡️', 'Success!')
    span That was easy, right?!

  div.row.py-3.py-md-4
    div.col.d-flex.flex-column.align-items-center
      p.mb-1 You are now known as
      code.authenticated-userid=userid
      div.mt-3
        img.authenticated-robot(src="https://robohash.org/" + userid + "?set=set3")
      a.small(href="https://robohash.org/") A robot?!

  +buttons({link: "/learn", text: "Learn more!"}, {link: "/logout", text: "Logout"})
