extends layout.pug
include mixins/hero

block content
  +hero('👋⚡️', 'Hi there!')
    span.d-block.d-sm-inline-flex Passwords are broken.
    span.d-none.d-sm-inline-flex &nbsp;
    span.d-block.d-sm-inline-flex Lightning is not.

  div.row.py-3.py-md-4
    div.col.d-flex.justify-content-center
        a.btn.btn-primary.btn-lightning(href="/login")
          div.me-1
            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M19 10.1907L8.48754 21L12.6726 12.7423H5L14.6157 3L11.5267 10.2835L19 10.1907Z"></path></svg>
          div Login with Lightning

  div.row.mt-2.mt-md-3.py-3.py-md-4
      div.col.d-flex.justify-content-center
        div.text-center
          h5 What is this?
          p It's&nbsp;
            a(href="https://github.com/fiatjaf/lnurl-rfc/blob/master/lnurl-auth.md") LNURL-auth
            | . Learn more&nbsp;
            a(href="/learn") here
            | .
          h5 Don't have a wallet?
          p Try&nbsp;
            a(href="https://breez.technology/") Breez
            | ,&nbsp;
            a(href="https://phoenix.acinq.co/") Phoenix
            | , or one of the wallets listed&nbsp;
            a(href="https://github.com/fiatjaf/lnurl-rfc/blob/luds/README.md#lnurl-documents") here
            | .
