doctype html
html.h-100(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="https://lightninglogin.live/")
    meta(name="twitter:creator" content="@dergigi")
    meta(name="twitter:title" content="Lightning Login")
    meta(name="twitter:description" content="Passwords are broken. Lightning is not.")
    meta(name="twitter:image" content="https://lightninglogin.live/static/img/twitter-card.png")

    link(rel="stylesheet" type="text/css", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous")
    link(rel="stylesheet", type="text/css", href="static/css/style.css")

    title Login with Lightning!

  body.d-flex.flex-column.h-100
    main.flex-shrink-0
      div.container
        block content
    footer.footer.mt-auto.py-3
      div.container
        div.d-flex.flex-column.align-items-center.gap-2
          div.d-flex.justify-content-center.gap-2
            a(href="https://github.com/seetee-io/lnurl-auth-demo")
              img.social-icon(src="static/img/github.png")
            a(href="https://twitter.com/Seetee_io")
              img.social-icon(src="static/img/twitter.png")
          div This website is free and open-source.
