html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title How does this ⚡ magic work?
    link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    style
      include style.css
  body
    div#content
      div.docuwrap
        h1 How does this ⚡ magic work?
        p
          | The "Login with Lightning" button is powered by LNURL-auth, a
          | lightweight authentication protocol that is easy to use, easy to
          | implement, and
          |
          b respects the user's privacy.


        hr
        h3 What is LNURL-auth?

        p
          a.colored-link(href="https://github.com/fiatjaf/lnurl-rfc/blob/master/lnurl-auth.md") LNURL-auth
          |
          | is a generic authentication protocol. It authenticates the
          | user using digital signatures, which means that the user needs to have a
          | public-private key pair. Thanks to the rising popularity of
          |
          a.colored-link(href="https://bitcoiner.guide/wallet/lightning/") lightning wallets
          | , more and more users are in possession of and have easy access
          | to such keys.

        p
          | Consequently, users are identified by their public keys,
          | nothing else. The protocol does not require any other identifying
          | information such as passwords, emails, usernames, or similar.

        hr
        h3 How does it work?

        p
          | In short: the seed of your bitcoin wallet is used to generate secret
          | authentication keys. As soon as you want to log in to a website, the
          | website will pose a specific challenge that you can only solve with
          | your secret authentication key.

        p
          | A more technical explanation can be found
          |
          a.colored-link(href="https://xn--57h.bigsun.xyz/lnurl-auth.html") here
          | .

        hr
        h3 Are identities persistent?

        p
          | Yes, but it does not transfer across sites or wallets.

        p
          | Because a different authentication key is generated for every domain,
          | you will be identified by a different public key for every site. Your
          | identities can not be associated across domains.

        p
          | However, as long as you log in to a site with the same wallet, you will
          | have the same identity.

        hr
        h3 Who uses it?

        p
          | A list of services that make use of LNURL-auth is maintained
          |
          a.colored-link(href="https://github.com/fiatjaf/awesome-lnurl#lnurl-auth") here
          | .

        hr
        h3 Additional Resources

        p The following resources should be helpful if you want to learn more.

        ul
          li
            a.colored-link(href="https://github.com/fiatjaf/lnurl-rfc") LNURL: Lightning Network UX protocol
          li
            a.colored-link(href="https://github.com/fiatjaf/lnurl-rfc/blob/master/lnurl-auth.md") LNURL-auth Specification
          li
            a.colored-link(href="https://xn--57h.bigsun.xyz/lnurl-auth.html") LNURL-Auth explained

        div.padded-button
          a.btn.btn-secondary(href="/") Back
        hr
